.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    z-index: 10000;
}
.logo{
    margin: 2px auto;
    cursor: pointer;
}
.navbarlg{
    display: none;
 
}

.navbarsm{
    display: flex;
    padding: 1em;
}
.close, .open{
    font-size: 1.5em;
}


.dropdown{
    background: #fff;
    color: #000;
    font-weight: 700;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    position: absolute;
    top: 3em;
    left: 0;
    transition: 0.5s
   
}


.navitem{
    padding: 1em;
    display: flex;
    justify-content: left;
    font-weight: 600;
}


@media screen and (min-width: 600px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    .navbarlg{
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }
    .navbarsm{
        display: none;
    }
    .navitem{
        cursor: pointer;
    }
}