.name{
    color: #1A1A1A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}
.projectgrid{
    margin:1em auto;
    display: flex;
    flex-wrap: wrap
}
.singleproject{
    margin: 1em auto;
    width: 30vw;
    display: grid;
}
.name, .btns{
    padding: 1em;
    font-size: 0.9em;
    width: 80%;
}
.btngt, .btndm{
    border-radius: 4px;
    border: 2px solid #9358F7;
    padding: 0.5em 1em;
    background: #fff;
    margin: 0 1em;
}

.btndm{
    border: 1px solid red;
}

@media screen and (min-width: 768px){
    .singleproject{
        width: 20em;
            background: var(--White, #FFF);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    }
    .singleproject:hover{
        box-shadow: grey 10px 5px 0 0 0;
        cursor: pointer;
        transform: scale(0.9)
    }
}