
.name{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
}
.projectgrid{
    margin:0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.singleproject{
    margin: 2em auto;
    width: 80%;
    display: grid;
    border-radius: 8px;
    padding: 1em;
    box-shadow: 0px 4px 20px 0px var(--white);
    color: var(--white)
}
.singleproject img{
    border-radius: 5px;
}
.name, .btns{
    padding: 1em;
    font-size: 0.9em;
    font-weight: 800;
}
.btndv{
    display: flex;
}
.btngt, .btndm{
    border-radius: 4px;
    background:var(--blue);
    color: #fff;
    margin: 0 1em;
    padding: 0.8em 0.5em;
    cursor: pointer;
    border: 0;
    display: flex;
    justify-content: space-between;
}
.btngt svg,
.btndm svg{
    margin-right: 5px;
}
.btndm{
    background: var(--red);
    
}
.spanskill{
    color:var(--white);
    margin: 10px;

}
@media screen and (min-width: 768px){
    .projectgrid{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
    }
    .singleproject{
        width: 20em;
        position: relative;
    }
    .btns{
        position: absolute;
        top: 1.2em;
        right: 1.2em;
        background: #fff;
        color: var(--black);
        width: 90%;
        height: 55%;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        transform: rotateY(90deg)
    }

    @keyframes animimage{
        0%{
            transform: rotateY(0deg)
        }
        100%{
            transform: rotateY(90deg)
        }
    }
    .singleproject:hover img{
        cursor: pointer;
        animation: animimage 0.3s forwards ease-out;
    }
    .singleproject:hover .btns{
        animation: animimage 0.3s forwards ease-in reverse;
        transition: 1s ease-in;
        animation-delay: 0.4s;
    }
    .btngt{
        background: var(--prp);
        padding: 0.5em 1em;
    }
    .btndm{
        background: var(--red);
        padding: 0.5em 1em;
    }
        .btngt,
        .btndm {
            padding: 1em;
        }
}