.contactform{
    color: var(--white);
    padding: 2em auto;
}

.contactform form{
    
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}