html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root{
  --black: #000;
  --lightblack: rgba(0, 0, 0, 0.05);
  --prp: #9358F7;
  --white: #fff;
  --red: red;
  

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.description{
  background-size: cover;
  height: 100vh;
  color: white;
  font-size: 1.5em;
  padding: 1em;
}
.main {
  height: max-content;
  background: rgba(0, 0, 0, 0.9)
}