html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
:root{
  --black: rgba(255, 217, 0, 0.88);
  --lightblack: rgba(0, 0, 0, .12);
  --blue: #6666ef;
  --prp: #9358F7;
  --white:  #000;
  --red: red;
  --fontonly: #0040ff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.description{
  background-size: cover;
  height: 100vh;
  color: var(--white);
  font-size: 1.5em;
  padding: 1em;
}

@keyframes raisein {
  0%{
   background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
}
/* .main {
  height: max-content;
  text-align: center;
} */
.pgbg{
  background: var(--black);
  animation: raisein 5s ease infinite;
  min-height: 100vh;
}