
.hirebtn, .contactbtn{
  background: transparent;
  box-shadow: inset var(--fontonly) 3px 3px 0 0;
  border-radius: 8px;
  border: 1px solid var(--fontonly);
  cursor: pointer;
  color: var(--font-only);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 1em;
  margin-left: 0;
  padding: 0.6rem 1rem;
}
 .hirebtn:hover,
 .contactbtn:hover {
    transform: scale(0.8)
  }


