
.hirebtn, .contactbtn{
  background: var(--white);
  box-shadow: inset var(--red) 3px 3px 0 0;
  border-radius: 8px;
  border: 1px solid var(--red);
  cursor: pointer;
  color: var(--black);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 1em;
  margin-left: 0;
  padding: 0.6rem 1rem;
}
 .hirebtn:hover,
 .contactbtn:hover {
    transform: scale(0.8)
  }
     .hpgsection {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       color: var(---black);
       height: 100%;
       padding-top: 2em;
     }
  .myim{
    border-radius: 50%;
    /* width: minmax(30vw,60vw);
    height: minmax(30vw,50vw); */
  }
     .hpgsection div {
       color: var(--black);
       font-size: 1.5em;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
     }
@media screen and (min-width: 768px){
  .left-al div{
    margin-left: 1em;
  }
 .hpgsection{
  flex-direction: row;
 }

}

