.navbar{
    position: sticky;
    top: 0;
    left: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.navbarlg{
    display: none;
 
}

.navbarsm{
    display: flex;
    padding: 1em;
    animation: 2s slideout;
}
.close, .open{
    font-size: 1.5em;
}
@keyframes slidein {
    from {
        width: 0;
        opacity: 1;
    }

    to {
        width: 50vw;
        opacity: 0;
    }
}
@keyframes slideout {
    from {
        width: 50vw;
        opacity: 1;
    }

    to {
        width: 0;
        opacity: 0;
    }
}

.dropdown{
    background:grey;
    display: flex;
    flex-direction: column;
    width: 50vw;
    position: absolute;
    top: 4em;
    left: 0;
    animation: 0.8s linear running slidein;
}


.navitem{
    padding: 1em;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px){
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }
    .navbarlg{
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }
    .navbarsm{
        display: none;
    }
    .navitem{
        cursor: pointer;
    }
}